
<div class="product">
	<h2><%= @product.name %></h2>
	<ul>
		<li><%= @product.description %></li>
		<li>$<%= formatted_price %></li>
	</ul>
</div>

<%= link_to "Home", products_path %>
<%= link_to "Add Another Product", new_product_path %>